<h2>Лагерь Каратэ "Юный Кировец"</h2>
<p class="text_left"> <br>СК «ШИНКИОКУШИН КАРАТЭ»
Уважаемые родители, мы предлагаем вашим детям прекрасный отдых в детском оздоровительном лагере «ЮНЫЙ КИРОВЕЦ» </br>
<br><img src="/assets/photocamp.jpg" alt="Лагерь Каратэ" width="432"  class="rightimg">
CК «ШИНКИОКУШИН КАРАТЭ», приглашает детей на летнюю оздоровительную кампанию. Также Вы можете предложить поездку в лагерь своим знакомым и друзьям. Лагерь расположен в благоприятной природно-климатической зоне,в посёлке Сиверский,на берегу реки Оредеж с собственным оборудованным пляжем. Обширная территория лагеря (47,5га) покрыта густым, преимущественно хвойным лесом. 
В лагере деревянные корпуса со спальными комнатами по 4-6 человек. Также в корпусах имеются игровые и телевизионные комнаты, помещения для хранения вещей, сушилки для белья и обуви. Лагерь имеет свою баню. Территория лагеря огорожена и охраняется. </br>
<br>
 Мы предлагаем вашим детям квалифицированное медицинское обслуживание, качественное пятиразовое питание с обилием овощей и фруктов.
В лагере организована работа кружков по разным интересам. Дети, занимающиеся в СК «ШИНКИОКУШИН КАРАТЭ» будут продолжать тренировки по каратэ в лагере под руководством инструктора. Инструктор будет заниматься совершенствованием физической подготовки ваших детей в ходе тренировок по каратэ, различных спортивных игр. В конце смены – сдача экзаменов. Лагерь имеет значительную сеть спортивных площадок и сооружений.
В лагере систематически будут проводиться разнообразные праздники и фестивали, концерты, развлекательные шоу и конкурсы, вечером дискотеки.</br> </p>

<p><br>Комиет по молодёжной политике выплачивает работникам в бюджетной сфере 90% от стоимости путёвки, работникам в не бюджетной сфере 50% от стоимости путёвки. Стоимость путёвки уточнить у тренера.</br><p>

<ul class="camp"> 
<li>Продолжительность смены: 21 день </li>
<li> смена: 1 июня-21 июня </li>
<li> 2 смена: 22 июня-12 июля </li>
<li> Стоимость путёвки уточнить у тренера. </li>
</ul>

<p><br>
Адрес лагеря «ЮНЫЙ КИРОВЕЦ»:</br>
Ленинградская область, ж.д.ст.Сиверская, Белогорское шоссе, 
д. 59
</p>
<p> <br>
Проезд:
От ж.д.ст. Сиверская,автобус №2 или маршрутное такси №2 (10 мин.) до 
ДОЛ «ЮНЫЙ КИРОВЕЦ» </br>
<br>
Телефон:8-950-040-42-92
Ситников Никита Вадимович </br> </p>