<% provide(:title, 'Home') %>
<div class="topHeader">
</div>


     <h2>Федерация Шинкиокушинкай Каратэ г.Санкт-Петербург</h2>
	
	
	<div class="slider slider3">
		<div class="sliderContent">
			<div class="item">
				<img src="/assets/_6g2AlRfTpI.jpg" alt="" width="650" height="382"/>
			</div>
			<div class="item">
				<img src="/assets/4.jpg" alt="" width="550" height="382"/>
			</div>
			<div class="item">
				<img src="/assets/NwmLcMnvZvc.jpg" alt="" width="550" height="382"/>
			</div>
			<div class="item">
				<img src="/assets/1.jpg" alt="" width="550" height="382"/>
			</div>
		</div>
	</div>

<div class="federation">

<p>В Санкт-Петербурге Кёкушинкай каратэ представлено федерацией Санкт-Петербурга и области, основанной в 1998 году. Президентом федерации является Хидиров Рашид Ваитович (V дан). В рядах организации более 1500 спортсменов </p>

<p>Организации следуют пути Каратэ в построении характера и тренировке духа и тела, основанного на принципе Масутацу Оямы "Держи голову низко (скромность), глаза высоко (честолюбие), будь сдержанным в речи (уважай чужой язык) и добрым в сердце (относись к другим с уважением и учтивостью). Почтительность к родителям начало всего (всегда помни о родителях)."</p>

</div>

<img src="/assets/x_4dc627cb.jpg" alt="home"  class="leftimg" width="350" height="400">
<h2>Тренер Ситников Никита Вадимович <h2>
 <p>Занимается каратэ с 2003год 1кю, Чемпион Северозаподного Федирального округа, также призер различных соревновыний по боксу.
 Образование РГУФК методика и прпктика преподования восточных единоборств
</p>
