.right {
    position: relative;
	float: right;
	background-color: #F8F8FF;
	margin-bottom: 10px;
}

.leftimg {
    float: left; /* Выравнивание по левому краю */
    margin: 10px 17px 7px 10px; /* Отступы вокруг картинки */
}

h2 {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 25px;
}