.right {
  position: relative;
	float: right;
	margin-bottom: 10px;
}

.leftimg {
    float: left; /* Выравнивание по левому краю */
    margin: 10px 17px 10px 20px; /* Отступы вокруг картинки */
}

h2 {
	margin: 10px 0px 10px 0px;
	text-align: center;
	font-size: 25px;
}