.camp {
	margin: 10px 0px 0px 30px;
  font-size: 18px;
}

.rightimg  {
	float: right; 
	margin: 10px 10px 10px 30px; 
}

.text_left {
  margin-left: 20px;
  line-height: 22px;
  padding-bottom: 13px;
  padding-right: 30px;
  text-align: left;
  color: rgb(4, 4, 5);
  font-size: 18px;
}